@import "../../App.css"; 

/* .menu-up{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #B5997D;
    height: 160vh;
    font-family: CGBold;
    position: inherit;
}

.menu{
    width: 50%;
    height: 150vh;
}

.menu-button {
    position: relative;
    top: -60px;
    right: -33px;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #B5997D;
    border: 1px solid white;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }

  .menu-button:hover {
    background-color: #e6d4c5;
    color: #402620;
  }

  .menu-para{
    position: relative;
    left: 170px;
    top: -115px;
    font-size: 25px;
  } */


  .menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110vh;
    background-color: #B5997D;
  }

  .menu-left {
    flex: 4;
    text-align: center;
    padding: 20px;
    position: inherit;
  }
  
  .menu-right {
    flex: 1;
    text-align: center;
    padding: 20px;
    position: inherit;
  }

  .menu{
    width: 55%;
    height: 105vh;
  }

  .menu-button {
    position: relative;
    right: 100px;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #B5997D;
    border: 1px solid white;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }

  .menu-button:hover {
    background-color: #e6d4c5;
    color: #402620;
  }

  .menu-para{
    position: relative;
    margin-bottom: 10px;
    font-size: 25px;
    right: 100px;
  }

  @media (max-width: 768px) {
    .menu-container{
      flex-direction: column;
    }
    .menu{
      width: 100%;
      height: 100%;
    }
    .menu-button{
      right: 0%;
    }

    .menu-para{
      right: 0%;
    }
  }