@import "../../App.css";

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f3f3f3;
  }
  
  .container-delivery {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #74512D;
  }
  .right-delivery {
    flex: 1;
    text-align: center;
    padding: 20px;
    position: inherit;
  }
  
  .left-delivery {
    flex: 1;
    text-align: center;
    padding: 20px;
    position: inherit;
  }

  .title-delivery {
    position: relative;
    font-family: TMC;
    font-size: 60px;
    color: #B5997D;
    margin: 0;
    top: -37px;
  }
  
  
  .shop-button-delivery {
    position: relative;
    top: 50px;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #74512D;
    border: 1px solid white;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .shop-button-delivery:hover {
    background-color: #e6d4c5;
    color: #402620;
  }
  
  .delivery-image {
    top: 2px;
    width: 110%;
    height: 100vh;
    right: 28px;
    position: relative;
  }
  