@import "../../App.css";

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f3f3f3;
  }
  
  .container-delivery {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #B5997D;
  }
  .right-delivery {
    flex: 1;
    text-align: center;
    padding: 20px;
    position: inherit;
  }
  
  .left-delivery {
    flex: 1;
    text-align: center;
    padding: 20px;
    position: inherit;
  }

  .title-delivery {
    position: relative;
    font-family: TMC;
    font-size: 60px;
    color: #402620;
    margin: 0;
    top: -100px;
  }
  
  
  .shop-button-delivery {
    position: relative;
    top: -50px;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #B5997D;
    border: 1px solid white;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .shop-button-delivery:hover {
    background-color: #e6d4c5;
    color: #402620;
  }
  
  .delivery-image {
    top: 2px;
    width: 110%;
    height: 100vh;
    right: 28px;
    position: relative;
  }

  h4{
    font-family: CG;
    position: relative;
    top: 0px;
  }

  .orderSite{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 70px;
  }

  .instagram{
    margin-bottom: 20px;
  }

  @media (max-width: 768px) {
    .title-delivery{
      text-align: center;
    }
    .left-delivery{
      display: none;
    }
  }

  