@import "../../App.css";

  body {
    padding: 0;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #B5997D;
    overflow-x: hidden;
}

.contact-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #D9C9B5;
    font-family: TMC;
    height: 100vh;
  }
  
  .contact-left {
    max-width: 40%;
  }
  
  .contact-title {
    font-size: 55px;
    color: #402620;
    text-align: center;
  }
  
  .contact-heart {
    font-size: 70px;
    color: #402620;
    margin-top: -17px;
    text-align: center;
  }
  
  .contact-right {
    position: inherit;
  }
  
  .contact-item {
    position: relative;
    right: 65px;
    font-family: CG;
    font-size: 18px;
    color: #402620;
    margin-bottom: 40px;
  }
  
  .contact-item strong {
    font-family: CGBold;
    display: block;
    font-size: 25px;
    color: #402620;
    margin-bottom: -15px;
  }
  
  span{
    font-family: sans-serif;
  }

/* @media (min-width: 768px) {
  .contact-container {
    flex-direction: row;
    height: auto;
    padding: 50px 20px;
  }

  .contact-left {
    max-width: 50%;
  }

  .contact-right {
    max-width: 50%;
  }

  .contact-item {
    right: 0;
  }
} */

@media (max-width: 768px) {
  .contact-container {
    flex-direction: column;
    height: auto;
    padding: 20px;
  }

  .contact-left,
  .contact-right {
    max-width: 100%;
    margin-bottom: 20px;
  }

  .contact-item {
    right: 0;
    text-align: center;
  }
}