@import "../../App.css";    

.error-container{
    background-color: #B5997D;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #402620;
}

.error-container h1 {
    font-size: 5em;
    font-family: TMC;
    margin-bottom: 30px;
  }
  
  .error-container p {
    font-size: 1.5em;
    font-family: CGBold;
  }
  
  .home-button {
    position: relative;
    top: 50px;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #B5997D;
    border: 1px solid white;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }

  .home-button:hover {
    background-color: #e6d4c5;
    color: #402620;
  }